<?xml version="1.0" encoding="utf-8"?>
<manifest package="edu.lclark.mdreyer.pokemonlistapp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/pokeball"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ListActivity"
            android:label="@string/list_activity_title"
            android:logo="@drawable/pokeball">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".PokemonDetailActivity">
        </activity>
    </application>

</manifest>
